<div class="col-md-4">
    <div class="card" style="width: 18rem; ">
        <div class="card-body">
            <h5 class="card-title">{{this.tab.heading}}</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text" *ngFor="let point of tab.points">{{point}}</p>

            <p class="card-text">PRICE:{{this.tab.price}}</p>
            <a href="#" class="card-link" (click)="onClick()" [routerLink]="'/form'">SELECT</a>
        </div>
    </div>
</div>