<div class="text-center">
  <h1 class="header">Plans & Pricing</h1>
</div>
<div class="container" id="myGroup">
  <div>
    <p class="text-center">
      <a
        class="btn btn-secondary btn-content btn-content-a"
        data-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Personal
      </a>
      <button
        class="btn btn-secondary btn-content btn-content-b"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample2"
        aria-expanded="false"
        aria-controls="collapseExample2"
      >
        Enterprise
      </button>
    </p>
  </div>

  <div class="collapse" id="collapseExample" data-parent="#myGroup">
    <div>
      <div class="row justify-content-around" style="padding-top: 30px">
        <app-tab *ngFor="let tab of personalTabs" [tab]="tab"></app-tab>
      </div>
    </div>
  </div>
  <div class="collapse" id="collapseExample2" data-parent="#myGroup">
    <div>
      <div class="row justify-content-around" style="padding-top: 30px">
        <app-tab *ngFor="let tab of enterpriseTabs" [tab]="tab"> </app-tab>
      </div>
    </div>
  </div>
</div>
